@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

.calendar{
    width: 1500px;
}